@mixin positionAbsolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@mixin linearGradientBackground {
    background-color: rgba(34,40,49, 1);
    background: linear-gradient(0deg, rgba(41,49,61,1) 0%, rgba(48,56,69,1) 50%, rgba(66,80,102,1) 100%);
}

@mixin backgroundImage($image_path) {
    background-image: url($image_path);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin buttonPadding {
    padding: 10px 20px;
}

@function font-weight($keyword) {
	$conversion-map: (
	  thin: 100,
	  extra light: 200,
	  light: 300,
	  regular: 400,
	  medium: 500,
	  semi bold: 600,
	  bold: 700,
	  extra bold: 800,
	  black: 900,
	);

	@if not map-has-key($conversion-map, $keyword) {
		@error "Unsupported `font-weight` keyword `#{$keyword}`";
        
        @return null;
	}
    
    @return map-get($conversion-map, $keyword);
}

@mixin font-weight($keyword) {
    font-weight: font-weight($keyword);
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

// Body
body {
    background-color: $body-bg;
    color: $white;
}

// Nav bar
nav {
    background-color: $red;
    box-shadow: 0px 10px 35px 0px rgba($black,0.5);

    .navbar-brand {
        color: $white;
        font-size: 30px;
    }

    .main-menu a {
        color: $white;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-left: 30px;
    }
}

// Footer menu
footer{
    .footer-menu a {
        color: $white;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-left: 30px;
    }
}

// Glass 
.glass {
    background-color: rgba(155,155,155, 0.5);
    border-top: 2px solid  rgba(155,155,155, 0.3);
    backdrop-filter: blur(2rem);
}

/* Footer */
footer {
    height: 20vh;
    background-color: rgba(34,40,49, 0.7);
    justify-content: space-between;
    align-self: flex-end;
}

// Sub nav
.sub-nav {
    text-align: center;
    background-color: rgba(34,40,49, 1);
    padding: 10px 0;
    box-shadow: 0px 10px 35px 0px rgba($black,0.5);
    position: sticky;
    top: 70px;
    z-index: 2;

    a {
        color: $white;
        @include buttonPadding;
    }

    .active, a:hover {
        background-color: $blue-light;
        color: $black;
    }
}

// Sub title
.sub-title {
    @include linearGradientBackground;
    border-top: 1px solid $blue-dark;
    margin-top: 100px;
    padding: 10px 0;

    h3 {
        margin: 0;
        align-self: center;
    }
}

// Buttons

.button-blue {
    color: $blue-light;
    text-transform: uppercase;
    @include buttonPadding;
    font-size: 16px;
    letter-spacing: 4px;
    transition: .5s;
}

a.button-blue {
    text-decoration: none;

    &:hover {
        background: $blue-light;
        color: #fff;
        border-radius: 5px;
    }
}

.button-back {
    color: rgb(173, 173, 173);
    align-self: center;
}

a.button-back {
    text-decoration: none;

    &:hover {
        color: $blue-dark;
    }
}

.button-submit {
    font-size: 20px;
}

// Error messages
.error-container {
        display: flex;
        justify-content: center;
        align-items: center;

    .error-msgs {
        margin-top: 30px;
        width: 40%;
        
        p {
            margin: 0;
            padding: 10px 0;
            font-size: 18px;
        }
    }
}


// mini logo

.mini-logo {
    color: $white;
    font-size: 20px;
}

a.mini-logo {
    text-decoration: none;

    &:hover {
        color: $white;
    }
}

// checkbox
#status {
    margin-left: 30px;
    transform: scale(2);
}

.chbox-status {
    font-size: 20px;
    margin-left: 15px;
}

// modal
.modal {
    color: $black;
}