
// Bg image
.bg-image {
    height: 100%;
    width: 80%;
    z-index: -1;
    position: absolute;
    top: 70px;
    left: 10%;
    @include backgroundImage('../images/rose.jpg');
    background-attachment: scroll;
}

// Header
header {
    height: 50vh;
    display: flex;
    align-items: center;

    .banner {
        width: 80%;

        .btn-about,
        .btn-hire {
            border-radius: 10px;
            @include buttonPadding;
            @include font-weight(semi bold);
            transition: all .8s ease;
            display: inline-block;
        }

        .btn-about {
            border: 1px solid $white;
            color: $white;
            background-color: $black;
        }

        .btn-hire {
            border: 1px solid $black;
            color: $black;
            background-color: $white;
        }

        .btn-about:hover,
        .btn-hire:hover {
            transform: scale(1.1);
            border: 1px solid #4d0e0e;
            color: $white;
            background-color: #d32b2b;
        }
    }

    
}

// Project section
.home-project-section {

    .latest-box {
        background-color: rgba($black, 0.25);
        height: 500px;

        .image {
            position: relative;

            img {
                max-height: 400px;
                @include positionAbsolute;
            }
        }

        .info {
            margin-top: 100px;
        }

        @include tablet {
            height: 400px;
        }

        @include mobile {
            flex-direction: column;
            height: 350px;

            .image {
                img {
                    
                    max-height: 200px;
                    @include positionAbsolute;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            .info {
                text-align: center;
                margin-top: 200px;
                
                p {
                    display: none;
                }
            }
        }
    }
}
