// Body
$body-bg: #30475E;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;

// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

// Predef colors
$black: #000000;
$red: #f05454;
$green: #13ad87;
$white: #ddd;
$blue-dark: #1374eb;
//$blue-light: #03e9f4;
$blue-light: #00c4de;

$mobile: 768px; // 480px;
$tablet: 991px; // 1024px; // 768px;
//$laptop: 1024px;
//$desktop: 1200px;
// 991px
